.list-con .arrowDown{
    transform: rotate(180deg);
    transition: all 0.5s;
}

body{
    transition: all 0.2s;
}

.minHidden {
    display: none;
}
html{
    scroll-behavior: smooth;
}

/* ::selection */
.light *::selection{
    background-color: #ff3b30;
    color: #f2f2f7;
}
.dark *::selection{
    background-color: #ff9500;
    color: #333333;
}
/* ::selection */


/* swiper */
.swiper-slide{
    width: 23rem;
    height: 34rem;
    position: relative;
}
.light .swiper-slide-active img{
    border: 2px solid #ff3b30;
}
.dark .swiper-slide-active img{
    border: 2px solid #ff9500;
}

.light .swiper-pagination span{
    background-color: #ff3b30;
}
.dark .swiper-pagination span{
    background-color: #ff9500;
}
/* swiper */




/* actor details */
.dark .swiper-pagination-progressbar-fill {
    background-color: #ff9500; /* رنگ در حالت Dark Mode */
}

.light .swiper-pagination-progressbar-fill {
    background-color: #ff3b30; /* رنگ در حالت Light Mode */
}
/* actor details */


/* cursor text header  */
.custom-cursor {
    font-size: 50px; /* این سایز را با اندازه متن هماهنگ کنید */
    color: #FF3B30; /* رنگ خط تایپ */
}
.dark .custom-cursor {
    font-size: 50px; /* این سایز را با اندازه متن هماهنگ کنید */
    color: #FF9500; /* رنگ خط تایپ */
}
/* cursor text header  */