.swiper-pagination-current{
    margin-top: 10px;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    color: white;
}
.swiper-pagination-total{
    margin-top: 10px;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    color: white;
}
.swiper-pagination-fraction{
    transform: translateY(13px);
}

.swiper-slide-active.crew{
    transform: translateY(-20px);
    transition: all 0.5s;
}
